.comp-button{
    padding: 0 23px;
    height: 45px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    font-weight: 200;

}

@media (max-width: 500px) {
    .button{
        padding: 0 5px;
        font-size: 10px;
        
    }
}

