.images{
    display:flex;  
    flex-direction:row;
    gap: 8%;
    margin-left: 27%;
    padding-top: 40px;
}
/* .paragraph{
    display: flex;
    margin-left: 23%;
    gap: 6.8%; 
    margin-top: 1.5%;
}
.para1{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.para2{
    font-size: 15px;
} */
.get{
    background: #1D75DE;
    margin-top: -2%;
    height: 400px; 
}
.get h1{
    color: white;
    padding-top: 80px;
    font-size: 40px;
}
.get .p1{
    color: white;
    font-size: 1.2em;
    padding-top: 10px;
}.get .p2{
    color: white;
    font-size: 11px;
    padding-top: 20px;
}
.get a{
    color: white;
}
.buttons{
    padding-top: 10px;
}

