.App {
  text-align: center;
}

 .App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn, .btn-outline, .btn-secondary{
  background: black;
  color: white;
  padding: 16px 35px;
  border: none;
  border-radius: 23px;
  cursor: pointer;
  font-size: 13px;
  font-family: Helvetica;
  font-weight: 400;
}
.btn-secondary{
  background: #ccc;
  border: 1px solid #fff;
}
.btn-outline{
  background: transparent;
  border: 1px solid #fff;
}

@media (max-width: 500px) {
    .btn-outline, .btn{
      padding: 10px 20px;
    }
}