.pay{
    background:#EFEFEF;
    min-height: 950px
}
h1{
    font-size: 50px;
    padding-top: 80px;
}
.listen-para{
    font-size: 1.1em;
    margin-top: -25px;
}
.icons{
    margin-bottom: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card-div{
    display: flex;
    gap:1.3%;
    margin-left: 16%;
    flex-wrap: wrap;
}
.card{
    background: white; 
    width: 260px;
    height: 500px;  
    border-radius: 10px;
    position: relative;
    box-shadow: -1px 1px 5px 1px #b4b1b1;
    padding: 15px 15px;
    
}
.card h4{
    font-weight: 700;
    
}
.button{
    background: transparent;
    border: solid 1px #0D72EA;
    color: #0D72EA;
    font-weight: 600;
    margin-right: 32%;
    border-radius: 3px;
    width: 200px;
}
.main-para p{
    font-size: 16px;
}
hr{
    width: 85%;
}
.free{
    background: #0D72EA;
    color: white;
    width: 120px;
    text-align: center;
    border-radius: 3px;
}
.discount{
    width: 45%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 70px;
    background: white;
    gap: 2%;
    border-radius: 10px;
    margin-left: 33%;
    margin-bottom: 3%;
    margin-top: 2%;
    box-shadow: -1px 1px 5px 1px #9c9a9a;
}
.amount{
    font-size: 16px;
    margin-top: -20px;
    margin-right: 170px;
    width: 80%;
}
h2{
    margin-right:220px;
}
.card-bottom{
    position: absolute;
    right: 5px;
    bottom: 0px;
    width: 100%;
    height: 130px;
}
.card-bottom .hr {
     width: 95%; 
     margin-top: -1px;
}
.card-bottom p{
    color: grey;
}
.card-bottom .view-btn{
     width: 90%;
}
.discount .discount-btn{
    color: black; 
    border: solid 2px black;
    width: 100px;
}
a{
    color: grey; 
}

@media (max-width: 500px) {
    .card-div{
        gap:15px;
    }
    .discount{
        width: 60%;
        margin-left: 16%; 
    }
    .discount h3{
      font-size: 14px; 
    }
}
